body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
p,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.clearfix {
  display: inline-block;
  &::after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

img {
  vertical-align: middle;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%full-page {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: auto;
}
